@import "tailwindcss";

html, 
body {
  color: #2b6a73;
  background: #ffffff;
}

main {
  background: #ffffff;
  height: 100vh;
  height: 100dvh;
}

@Layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}